# Created by .ignore support plugin (hsz.mobi)
/composer.phar
.idea/dataSources/
.idea/inspectionProfiles/
.idea/webServers.xml
config/buildDatabase.php
.DS_Store
/vendor/
/node_modules/
/*/node_modules/
/logs/*.log
/mysql.cnf
/mysqldump.cnf
/mysqldump_data.sql
/mysqldump.sql
/triggers.sql
/scratch/
/.htaccess
/junit.xml
/PhpMetrics
/out/*

# wordpress
/wp-content/index.php
/wp-content/themes/index.php

# wordpress themes
!wp-content/themes/documentation/*
/wp-content/themes/twenty*/*

# other wordpress content
/wp-content/plugins/*
/wp-content/uploads/*

# wordpress admin
wp-admin/*

# wordpress root
/wp-includes/*
readme.html
!wp-config.php
/wp-*.php
/xmlrpc.php
license.txt


# wp rest tables
src/tables/Wp_Commentmeta.php
src/tables/Wp_Comments.php
src/tables/Wp_Links.php
src/tables/Wp_Options.php
src/tables/Wp_Postmeta.php
src/tables/Wp_Posts.php
src/tables/Wp_Term_Relationships.php
src/tables/Wp_Term_Taxonomy.php
src/tables/Wp_Termmeta.php
src/tables/Wp_Terms.php
src/tables/Wp_Usermeta.php
src/tables/Wp_Users.php


