# Created by .ignore support plugin (hsz.mobi)
/composer.phar
.idea/dataSources/
.idea/inspectionProfiles/
.idea/webServers.xml
config/buildDatabase.php
.DS_Store
/vendor/
/node_modules/
/*/node_modules/
/logs/*.log
/logs/default_log.txt
/mysql.cnf
/mysqldump.cnf
/mysqldump_data.sql
/mysqldump.sql
/triggers.sql
/scratch/
/.htaccess
/junit.xml
/PhpMetrics
/out/*

# recursive documentation
/view/assets/react/src/assets/src/*

# wordpress
/wp-content/index.php
/wp-content/themes/index.php

# wordpress themes
!wp-content/themes/documentation/*
/wp-content/themes/twenty*/*

# other wordpress content
/wp-content/plugins/*
/wp-content/uploads/*

# wordpress admin
wp-admin/*

# wordpress root
/wp-includes/*
readme.html
!wp-config.php
/wp-*.php
/xmlrpc.php
license.txt


# wp rest tables
src/tables/Wp_*
src/tables/interfaces/iWp_*

/CarbonPHP
