# Created by .ignore support plugin (hsz.mobi)
/composer.phar
.idea/dataSources/
.idea/inspectionProfiles/
.idea/webServers.xml
.DS_Store
/vendor/
/node_modules/
/*/node_modules/
/logs/*.log
/mysql.cnf
/mysqldump.cnf
/mysqldump.sql
/scratch/
/.htaccess
/junit.xml
/PhpMetrics

#wp
wp-config.php