<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="index.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="feature">
            <file>tests/feature/UserTest.php</file>
            <file>tests/feature/FullRestTest.php</file>
            <file>tests/feature/RestWordpressTest.php</file>
        </testsuite>
    </testsuites>
    <php>
        <env name="TESTING" value="1"/>
    </php>
</phpunit>
