<div class="box box-solid box-default" style="margin-top: 20px">
    <div class="box-header with-border">
        <h2 style="margin:0;">Issues and Support can be found on our Github repository.</h2>
    </div>
    <div class="box-body">
        <p class="lead">
            If you find an issue please let us know! All issues can be
            Testing is a team effort and we're committed to improving everyday!
            <div class="col-xs-offset-2 col-xs-8">
            <a href="https://github.com/RichardTMiles/C6/issues" target="_blank" class="btn bg-purple col-xs-5">C6 Issue Tracker</a>
            <a href="https://github.com/RichardTMiles/CarbonPHP/issues" target="_blank" class="btn bg-black col-xs-offset-2 col-xs-5">CarbonPHP Issue Tracker</a></div>
        </p>
    </div>
</div>