<!-- Content Header (Page header) -->
<div class="box box-solid box-default" style="margin-top: 30px; border-top-color: #605ea6">
    <div class="box-header with-border">
        <h2 class="text-purple" style="margin: 0; ">
            <b style="color: #5b59a3">C6 & CarbonPHP</b>
            <small class="text-gray-active"><b style="color: #2e2e2e">Documentation [Dev-Master]</b></small>
        </h2>
    </div>
    <div class="box-body">
        <p class="lead">
            This documentation is for CarbonPHP & C6 (Carbon-6), a <b>PHP 7.1+</b> application framework.
            If you are looking for AdminLTE documentation, AKA this user interface and layout,
            <a href="https://adminlte.io/docs" class="text-purple">click here</a>.
        </p>
    </div>
</div>
<!-- ============================================================= -->

<!-- Custom Tabs (Pulled to the right) -->
<div class="nav-tabs-custom" style="margin-top: 30px">
    <ul class="nav nav-tabs pull-right bg-purple">
        <li><a href="#Wrapper" class="text-black" data-toggle="tab"><b>Wrapper</b></a></li>
        <li><a href="#Routing" class="text-black" data-toggle="tab"><b>Routing</b></a></li>
        <li><a href="#Constants" class="text-black" data-toggle="tab"><b>Constants</b></a></li>
        <li><a href="#Configuration" class="text-black" data-toggle="tab"><b>Configuration</b></a></li>
        <li><a href="#Install" class="text-black" data-toggle="tab"><b>Installation</b></a></li>
        <li><a href="#Features" class="text-black" data-toggle="tab"><b>Features</b></a></li>
        <li class="active"><a href="#Why" class="text-black" data-toggle="tab"><b>Why?</b></a></li>
        <li class="pull-left header"><i class="fa fa-th text-black"></i></li>
    </ul>

    <div class="tab-content" style="overflow-x: scroll;">

        <div class="tab-pane active" id="Why">
            <p class="lead">
                <b>CarbonPHP</b> is a open source library for <u>quickly creating web applications.</u></p>
            We feature PSR-4 Accolading, Larval style URL mapping, Zend style file structure, PHP PDO
            Databases,
            and real-time communication using Named Pipes & Sockets. We also provide a
            beautiful feature to create <a href="Singleton" class="text-purple">seemingly-stateless PHP
                class
                objects</a>. PJAX, a javascript library
            for inner content refreshing, is supported in the configuration however you must manually
            include
            their JS. This is only the case if you choose to use CarbonPHP independently of C6. CarbonPHP
            has
            many other features.
            <br><br>
            <b>C6 (Carbon-6) is</b> a production <b>ready</b> web-app that fully incorporates
            <b>CarbonPHP</b>, <b>AdminLTE</b>, <b>PJAX</b>, and <b>jQuery</b>. In fact,
            this website is C6. If you create a new project using composer you will be greeted with this
            page! C6 allows you to <u>exclusively develop in PHP and HTML.</u> We also support and recommend
            <b>Google
                Cloud App Engine</b>
            to store and serve your next application.
        </div>

        <div class="tab-pane" id="Features">

            <p class="lead"><b>CarbonPHP's</b> core objective is to load all content in a <b>controlled
                    asynchronous fashion</b>.</p>
            Features can be modified or replaced to suit your development.
            Here are some modules for quick reference.
            <br><br>
            <div class="row">
                <div class="col-sm-3">
                    <ul>
                        <li><a href="">Session</a></li>
                        <li><a href="">Database</a></li>
                        <li><a href="">Autoloading</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul>
                        <li><a href="">View</a></li>
                        <li><a href="">Request</a></li>
                        <li><a href="">Route</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul>
                        <li><a href="">Forks</a></li>
                        <li><a href="">Files</a></li>
                        <li><a href="">Servers & Sockets</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul>
                        <li><a href="">Serialized</a></li>
                        <li><a href="">Skeleton</a></li>
                        <li><a href="">Entities</a></li>
                    </ul>
                </div>
            </div>
            <br>
            <p><b>HTTP</b> and <b>HTTPS</b> requests will always return the <b>outer HTML presentation
                    layer.</b>
                If the <a href="Options">Site Version</a> changes on the server during an active user
                session,
                the layout will be reloaded.
                <?= highlight('<form>') ?> data and<?= highlight('<a href="">') ?> links will automatically
                be
                sent through <b>AJAX</b>. Post data is cleared from all other connections other that ajax.
                Content can be requested through HTTP, HTTPS, AJAX, and SOCKETS.
            </p>
        </div>

        <div class="tab-pane" id="Constants">
            <p class="lead"><b>Reserved Constants</b></p>
            <p>
                To help the developer the all connection types are dynamic boolean (true or false) constants
                and
                the current protocol is set to true. <br><br>
                <?= highlight('const SOCKETS = true;     // This code would only be true for a socket connection') ?>
                <br><br>
                Connection constants are defined after running <b>Carbon::Application()</b>.</p>
        </div>

        <div class="tab-pane" id="Install">
            <p class="lead">
                <b>C6</b> includes all the bells and whistles, but if your hardcore you can use <b>CarbonPHP
                    without C6</b>
                and other libraries.
            </p>
            <p>CarbonPHP and C6 must be installed with <a
                        href="https://getcomposer.org/download/">Composer</a>.
                C6 is compiled with the following libraries while CarbonPHP is not.</p>
            <div class="row">
                <div class="col-sm-4">
                    <ul class="bring-up">
                        <li><a href="https://jquery.com" target="_blank">jQuery 3.2.1</a></li>
                        <li><a href="https://mustache.github.io" target="_blank">Mustache</a></li>
                        <li><a href="https://pjax.herokuapp.com" target="_blank">PJAX</a></li>
                        <li><a href="https://jquery-form.github.io/form/" target="_blank">jquery-form</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul>
                        <li><a href="http://adminlte.io" target="_blank">AdminLTE</a></li>
                        <li><a href="https://github.com/filamentgroup/loadJS" target="_blank">LoadJS</a>
                        </li>
                        <li><a href="http://www.jquery-backstretch.com" target="_blank">jQuery
                                Backstretch</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul>
                        <li><a href="http://php.net" target="_blank">PHP 7.1.^</a></li>
                        <li><a href="https://developers.facebook.com/docs/php/gettingstarted"
                               target="_blank">Facebook
                                SDK</a></li>
                        <li><a href="https://developers.google.com/api-client-library/php/" target="_blank">Google
                                SDK</a></li>
                    </ul>
                </div>
            </div>
            <br>
            <a href="https://packagist.org">Packagist</a> is the main Composer repository. It aggregates
            public
            PHP packages installable with Composer.
            Our Javascript dependencies will be installed with composer using the <a
                    href="https://bower.io">Bower
                repository</a>. To achieve
            this you must have the composer-asset-plugin. This can be achieved by <a
                    href="https://getcomposer.org/doc/00-intro.md#globally">installing composer globally</a>
            then running the following<br><br>
            <a href="Installation"><?= highlight('composer global require "fxp/composer-asset-plugin:~1.3"') ?></a><br>
            <br><br>
            <div class="row">
                <div class="col-sm-6">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Ready (C6)</h3>
                            <span class="label label-primary pull-right"><i class="fa fa-html5"></i></span>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <p>This is recommended for new projects and new members of the CarbonPHP crew.
                                <b>So
                                    choose this one...</b></p>
                            <button class="btn btn-success" data-toggle="modal" data-target="#c6-composer">
                                <i
                                        class="fa fa-database"></i> Composer
                            </button>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#c6-git"><i
                                        class="fa fa-download"></i> Github
                            </button>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">Raw (CarbonPHP)</h3>
                            <span class="label label-danger pull-right"><i
                                        class="fa fa-database"></i></span>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <p>But you do you.. This option installs CarbonPHP on an existing project <b>using
                                    Composer.</b></p>
                            <button class="btn btn-success" data-toggle="modal"
                                    data-target="#carbonphp-composer"><i class="fa fa-database"></i>
                                Composer
                            </button>
                            <button class="btn btn-primary" data-toggle="modal"
                                    data-target="#carbonphp-git"><i
                                        class="fa fa-download"></i> Github
                            </button>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
            </div><!-- /.row -->

            <!-- Begin POP-UP Models -->
            <div class="modal fade" id="c6-composer">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span></button>
                            <h4 class="modal-title">C6 using Composer (recommended)</h4>
                        </div>
                        <div class="modal-body">
                            <p>Executing this will download CarbonPHP.com to your current working directory.
                                As
                                previously noted, <a href="https://getcomposer.org">Composer</a> must be
                                installed <a
                                        href="https://getcomposer.org/doc/00-intro.md#globally">globally</a>
                                and
                                <a href="https://packagist.org/packages/fxp/composer-asset-plugin">composer-asset-plugin</a>
                                be installed.</p>
                            <?= highlight('composer create-project "richardtmiles/c6:dev-master"') ?>
                            <br><br>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                                Close
                            </button>
                            <a type="button" class="btn btn-primary" href="N00B">Still need help?</a>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <div class="modal fade" id="c6-git">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span></button>
                            <h4 class="modal-title">C6 from Github</h4>
                        </div>
                        <div class="modal-body">
                            <p>After downloading this package you will need to
                                run <?= highlight('composer update') ?> in the working directory, so you're
                                just
                                creating an extra step for yourself. If you're still headed over to the
                                repo, be
                                sure to leave us a star!
                                As previously noted, <a href="https://getcomposer.org">Composer</a> must be
                                installed <a
                                        href="https://getcomposer.org/doc/00-intro.md#globally">globally</a>
                                and
                                <a href="https://packagist.org/packages/fxp/composer-asset-plugin">composer-asset-plugin</a>
                                be installed.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                                Close
                            </button>
                            <a type="button" class="btn btn-primary"
                               href="https://github.com/RichardTMiles/C6/releases">Head to github</a>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <div class="modal fade" id="carbonphp-composer">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span></button>
                            <h4 class="modal-title">CarbonPHP using Composer (existing projects)</h4>
                        </div>
                        <div class="modal-body">
                            <p>Executing this will download the CarbonPHP library to your vendors
                                folder.</p>
                            <?= highlight('composer require “richardtmiles/c6:dev-master”') ?>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>


            <div class="modal fade" id="carbonphp-git">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span></button>
                            <h4 class="modal-title">CarbonPHP's Github</h4>
                        </div>
                        <div class="modal-body">
                            <p>Since you're on your way to github, you should star and fork our repo! We
                                recommend running<?= highlight('composer update') ?>
                                after downloading to get all features from CarbonPHP.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                                Close
                            </button>
                            <a type="button" class="btn btn-primary"
                               href="https://github.com/RichardTMiles/CarbonPHP/releases">Head to github</a>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <!-- ./End POP-UP Models -->

        </div>

        <div class="tab-pane" id="Configuration">
            <p class="lead">Build in classes may require initialization using the
                <b>Carbon::Application()</b>
                method.</p>

            A array of optional variables will determine the structure of your application.
            The method will return a callable function to execute the bootstrap. We chose this functionality
            so
            developers
            could preform request on the session before mapping the url if needed.
            Our bootstrap will only deal with mapping/routing a user requested URI to appropriate methods.
            The Application (setup) method should be run once.
            <br><br>
            <?= highlight("Carbon\Carbon::Application( );        // This will only start a session") ?>
            <br><br>
            <?= highlight("Carbon\Carbon::Application( )( );    // Setup then execute the bootstrap") ?>
            <br><br>
            However inorder to run the bootstrap it's path
            must be given in the options array <b>['SITE']['BOOTSTRAP'] = $file; </b></p>
            Because we did not specify a routing function the second function would neatly fail.
            The code below shows how the options will be presented to the library.
            <br><br>
            <?= highlight('Carbon\Carbon::Application( [ 
                    "SITE" => [ 
                        "BOOTSTRAP" => "Route.php" 
                        ]
                    ] 
                    )( );') ?>
            <br><br>
            This will execute and attempt to run the "Route.php" file from the root of the CarbonPHP
            library.
            <u>To override the root directory, which is recommended,</u> the <b>['SITE']['ROOT'] =
                SERVER_ROOT;</b> should be
            set. <br><br>
            <div class="callout callout-success" onclick="document.location.href = 'Options'">
                <h4>Quick Preference Reference</h4>
                Most features can be turned on or off using built-in options, moreover
                some features are disabled by default. If no options are presented Carbon will <u>default to
                    these options.</u>
            </div>
        </div>

        <div class="tab-pane" id="Routing">
            <h4>Easy Search Engines Optimization</h4>
            <p><b>URI's should be intuitive and easy to comprehend when optimising for SEO.</b><br>
                <small>The View::contents() function is equivalent to $view->content().</small>

                <br><br>
                <?= highlight('View::contents( \'Introduction.php\') and die;') ?>
                <br><br>
                Even though the function call is static the view class uses <a
                        href="Singleton">Singleton</a>,
                thus PHP template files passed to the method will inherit the view class.
                You can use the route class to map urls to the appropriate views.
            </p>
            <?= highlight('
// on match run function
$url->match(\'CarbonPHP/*\', function () {      // Stars match any proceeding string  
    View::contents( \'home.php\');
});

// match variables in URI
$url->match(\'CarbonPHP/{folder}/{file}/\', function ($folder, $file){
    View::contents("\$folder\$file.php");
});

// if reaches we match until a `*` we will return match 
$url->match(\'CarbonPHP/{notOptional}/{Optional?}/\', function ($notOptional, $Optional){
    if (Optional != false)
        View::contents( "/notOptional.html" );
    else 
        View::contents( "/Optional.html" );
});

') ?>
        </div>

        <div class="tab-pane" id="Wrapper">
            <p class="lead">This is an example wrapper. </p>


            <?= highlight(APP_VIEW . 'Documentation/CodeExamples/WrapperHome.php', 'html') ?>
        </div>
        <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
</div>
<!-- nav-tabs-custom -->

<section id="introduction" style="margin-top: 30px">
    <div class="box box-solid box-default">
        <div class="box-header with-border">
            <h2 style="margin: 0"><a href="#introduction" class="text-purple">Less than a second</a></h2>
        </div>
        <div class="box-body">
            <div class="alert bg-purple alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>
                    <a href="https://www.thinkwithgoogle.com/marketing-resources/experience-design/speed-is-key-optimize-your-mobile-experience/"><i
                                class="icon fa fa-info"></i></a> Google's Analysis</h4>
                "... 40% of [customers] will wait no more than three seconds before abandoning a retail or travel site."
            </div>
            <p class="lead">
                We analysed trending frameworks in every language to provide a semantically pleasing, powerful, and
                portable
                library.
                On average, CarbonPHP's application framework can render content in under a hundredth of second.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="info-box bg-purple-active">
                    <span class="info-box-icon"><i class="fa fa-fw fa-check-circle">
                        </i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Pushing</span>
                    <span class="info-box-number">Performance</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                    <span class="progress-description">
                        100% on all Google speed metrics
          </span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-sm-6 col-xs-12">
            <div class="info-box bg-gray-active">
                <span class="info-box-icon"><i class="fa fa-terminal"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Do More</span>
                    <span class="info-box-number">HTML & MUSTACHE</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 25%"></div>
                    </div>
                    <span class="progress-description">
            Spend less time configuring dynamic websites
          </span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-sm-6 col-xs-12">
            <div class="info-box bg-gray">
                <span class="info-box-icon"><i class="fa fa-comments-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Real Time</span>
                    <span class="info-box-number">Platform Support</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 90%"></div>
                    </div>
                    <span class="progress-description">Windows systems require and extra <a href="Dependencies">dependency</a></span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-sm-6 col-xs-12">
            <div class="info-box bg-purple">
                <span class="info-box-icon"><i class="fa fa-cubes"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Free</span>
                    <span class="info-box-number">Fully Degrades</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                    <span class="progress-description">CarbonPHP is modular and fully degrades</span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
    </div>

</section><!-- /#introduction -->


<!-- ============================================================= -->

<section>
    <div class="box bg-gray">
        <div class="box-header with-border">
            <h2 style="margin: 0"><a href="<?= SITE ?>N00B" class="text-purple">What if im a N00B</a></h2></div>

        <div class="box-body">
            <p class="lead">
                CarbonPHP is the ultimate configuration file. It's the quick and easy setup to get you
                started
                programming high level applications quickly. It the word <b>terminal</b> is foreign... </p>

            <div class="col-lg-6 col-sm-offset-3">
                <a href="N00B">
                    <button type="button" class="btn btn-block bg-purple btn-md">New Programmers Start Here!</button>
                </a>
            </div>
        </div>
    </div>
</section>

