<article>
    <!-- Content Header (Page header) -->
    <header class="content-header container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <h1 class="content-max-width">Trust me you can get this!</h1>
            </div>
        </div>
    </header>

    <!-- Main content -->
    <div class="content container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <section class="content-max-width">
                    <p class="lead">Lets start with some basic terms and examples. PHP.net uses </p>
                    <section id="main-header">
                        <p>Functions</p>
                        <p>Methods</p>
                    </section>
                </section>
            </div>
        </div>
    </div>
    <!-- /.content -->
</article>