<div class="box" style="margin-top: 20px">
    <div class="box-body">
        <form data-pjax action="/color/" method="post">
            <label>Textarea</label>
            <textarea name="code" class="form-control" rows="3" placeholder="Enter PHP Code...">
                </textarea>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="box" style="margin-top: 20px">
    <div class="box-body">
        <form>
            <div class="form-group">
                <label>Color Code, PJAX =>{{PJAX}}, AJAX => {{AJAX}}</label>
                <textarea class="form-control" rows="3" placeholder="" style="height: 200px">
                    {{{colorCode}}}
                </textarea>
            </div>
        </form>
    </div>
</div>



