<section class="content-max-width" style="margin-top: 20px">
    <div class="box box-solid box-default">
        <div class="box-header with-border">
            <h1 style="margin:0">Browser & Platform Support</h1>
        </div>
        <div class="box-body">
            <div class="callout callout-warning">
                <h4>Note!</h4>
                <p>
                    IE9 does not support transitions or animations. The template will function properly but it won't
                    use animations/transitions on IE9.
                </p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h5><b>This is a list of supported operating systems <a
                                    href="http://php.net/supported-versions.php" target="_blank">capable of running PHP
                                7.1</a> and
                            <a href="https://wiki.php.net/platforms" target="_blank">Supported Web Servers</a>. This
                            list is incomplete as php is distributed in C code and may be compiled on most systems.</b>
                    </h5>

                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li>FreeBSD x86</li>
                                <li>FreeBSD amd64</li>
                                <li>FreeBSD PPC</li>
                                <li>Linux x86
                                    <ul>
                                        <li>Apache 1.x</li>
                                        <li>Apache 2.x</li>
                                        <li>Lighttpd</li>
                                    </ul>
                                </li>
                                <li>Linux amd64
                                    <ul>
                                        <li>Apache 1.x</li>
                                        <li>Apache 2.x</li>
                                        <li>Lighttpd</li>
                                    </ul>
                                </li>
                                <li>Linux SPARC</li>
                                <li>Linux ARM</li>

                                <li>Mac OSX x86
                                    <ul>
                                        <li>Apache 1.x</li>
                                        <li>Apache 2.x</li>
                                        <li>Lighttpd</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li>Mac OSX PPC</li>
                                <li>NetBSD x86</li>
                                <li>NetBSD amd</li>
                                <li>OpenBSD x86</li>
                                <li>(Open)Solaris
                                    <ul>
                                        <li>x86 Apache 1.x</li>
                                        <li>Apache 2.x</li>
                                    </ul>
                                </li>
                                <li>(Open)Solaris
                                    <ul>
                                        <li>SPARC</li>
                                        <li>Apache 1.x</li>
                                        <li>Apache 2.x</li>
                                    </ul>
                                </li>
                                <li>Windows x86/x64
                                    <ul>
                                        <li>Apache 2.x</li>
                                        <li>IIS6/7 windows 2k or later</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h5><b>Our <a href="<?=SITE?>AdminLTE">user interface</a> supports the following browsers:</b></h5>
                    <ul>
                        <li>IE9+</li>
                        <li>Edge (latest)</li>
                        <li>Firefox (latest)</li>
                        <li>Safari (latest)</li>
                        <li>Chrome (latest)</li>
                        <li>Opera (latest)</li>
                    </ul>
                    <br><br>
                    <a class="btn bg-purple" href="<?= SITE ?>Installation">Download C6 Now</a>
                    <a class="btn bg-black" href="<?= SITE ?>Environment">Setup PHP</a>
                </div>
            </div>
        </div>
</section>

</div>
