<!-- Content Header (Page header) -->

<section class="content-header" style="color: ghostwhite">
    <h1>
        Messages
    </h1>
    <ol class="breadcrumb">
        <li><a href="#" style="color: ghostwhite"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active" style="color: ghostwhite"><a href="#" style="color: ghostwhite">Messages</a></li>
    </ol>
    <p>
    </p>
</section>
<!-- Main content -->


<div class="col-md-5">
    <!-- USERS LIST -->
    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">Connections</h3>

            <div class="box-tools pull-right">
                {{#Users}}
                    <span class="label label-danger">New Members</span>
                {{/Users}}
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <ul class="users-list clearfix">
                {{#users}}
                    <li>
                        <a class="users-list-name" onclick="$.fn.startApplication('https://stats.coach/Messages/{{user_id}}/')">
                            <img src="{{user_profile_pic}}" alt="User Image" width="60em" height="60em"><br>
                            {{user_full_name}}
                            <span class="users-list-date">{{user_last_login}}</span>
                        </a>
                    </li>
                {{/users}}
            </ul>
            <!-- /.users-list -->
        </div>
        <!-- /.box-footer -->
    </div>
    <!--/.box -->
</div>

<div class="col-md-7">
    <div class="box box-success direct-chat direct-chat-success">
        <div class="box-header with-border">
            <h3 class="box-title">Direct Chat</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <!-- Conversations are loaded here -->
            <div class="direct-chat-messages">
                <!-- /.direct-chat-msg -->
            </div>
            <!--/.direct-chat-messages-->
            <!-- /.direct-chat-pane -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <form action="#" method="post">
                <div class="input-group">
                    <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success btn-flat">Send</button>
                      </span>
                </div>
            </form>
        </div>
        <!-- /.box-footer-->
        <div class="overlay">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</div>