<?php
{{^carbon_namespace}}namespace Table;{{/carbon_namespace}}
{{#carbon_namespace}}namespace CarbonPHP\Table;{{/carbon_namespace}}

use CarbonPHP\Entities;
use CarbonPHP\Error\PublicAlert;
use CarbonPHP\Interfaces\iRest;
use Psr\Log\InvalidArgumentException;


class {{TableName}} extends Entities implements iRest
{
    public const PRIMARY = [
    {{#primary}}{{#name}}'{{name}}',{{/name}}{{/primary}}
    ];

    public const COLUMNS = [
        {{#explode}}'{{name}}' => [ '{{mysql_type}}', '{{type}}', '{{length}}' ],{{/explode}}
    ];

    {{^validation}}public const VALIDATION = [];{{/validation}}{{#validation}}{{{validation}}}{{/validation}}


    public static $injection = [];


    {{#json}}
    public static function jsonSQLReporting($argv, $sql) : void {
        global $json;
        if (!\is_array($json)) {
            $json = [];
        }
        if (!isset($json['sql'])) {
            $json['sql'] = [];
        }
        $json['sql'][] = [
            $argv,
            $sql
        ];
    }
{{/json}}

    public static function buildWhere(array $set, \PDO $pdo, $join = 'AND') : string
    {
        $sql = '(';
        foreach ($set as $column => $value) {
            if (\is_array($value)) {
                $sql .= self::buildWhere($value, $pdo, $join === 'AND' ? 'OR' : 'AND');
            } else if (array_key_exists($column, self::COLUMNS)) {
                if (self::COLUMNS[$column][0] === 'binary') {
                    $sql .= "($column = UNHEX(:" . $column . ")) $join ";
                } else {
                    $sql .= "($column = :" . $column . ") $join ";
                }
            } else {
                $sql .= "($column = " . self::addInjection($value, $pdo) . ") $join ";
            }
        }
        return rtrim($sql, " $join") . ')';
    }

    public static function addInjection($value, \PDO $pdo, $quote = false) : string
    {
        $inject = ':injection' . \count(self::$injection) . 'buildWhere';
        self::$injection[$inject] = $quote ? $pdo->quote($value) : $value;
        return $inject;
    }

    public static function bind(\PDOStatement $stmt, array $argv) {
    {{#explode}}
        if (array_key_exists('{{name}}', $argv)) {
        {{^length}}
            $stmt->bindValue(':{{name}}',{{#json}}json_encode($argv['{{name}}']){{/json}}{{^json}}$argv['{{name}}']{{/json}}, {{type}});
        {{/length}}
        {{#length}}
            ${{name}} = $argv['{{name}}'];
            $stmt->bindParam(':{{name}}',${{name}}, {{type}}, {{length}});
        {{/length}}
        }
    {{/explode}}

        foreach (self::$injection as $key => $value) {
            $stmt->bindValue($key,$value);
        }

        return $stmt->execute();
    }


    /**
    *
    *   $argv = [
    *       'select' => [
    *                          '*column name array*', 'etc..'
    *        ],
    *
    *       'where' => [
    *              'Column Name' => 'Value To Constrain',
    *              'Defaults to AND' => 'Nesting array switches to OR',
    *              [
    *                  'Column Name' => 'Value To Constrain',
    *                  'This array is OR'ed togeather' => 'Another sud array would `AND`'
    *                  [ etc... ]
    *              ]
    *        ],
    *
    *        'pagination' => [
    *              'limit' => (int) 90, // The maximum number of rows to return,
    *                       setting the limit explicitly to 1 will return a key pair array of only the
    *                       singular result. SETTING THE LIMIT TO NULL WILL ALLOW INFINITE RESULTS (NO LIMIT).
    *                       The limit defaults to 100 by design.
    *
    *              'order' => '*column name* [ASC|DESC]',  // i.e.  'username ASC' or 'username, email DESC'
    *
    *
    *         ],
    *
    *   ];
    *
    *
    * @param array $return
    * @param string|null $primary
    * @param array $argv
    * @return bool
    * @throws \Exception
    */
    public static function Get(array &$return, string $primary = null, array $argv) : bool
    {
        self::$injection = [];
        $aggregate = false;
        $group = $sql = '';
        $pdo = self::database();

        $get = $argv['select'] ?? array_keys(self::COLUMNS);
        $where = $argv['where'] ?? [];

        if (array_key_exists('pagination',$argv)) {
            if (!empty($argv['pagination']) && !is_array($argv['pagination'])) {
                $argv['pagination'] = json_decode($argv['pagination'], true);
            }
            if (array_key_exists('limit',$argv['pagination']) && $argv['pagination']['limit'] !== null) {
                $limit = ' LIMIT ' . $argv['pagination']['limit'];
            } else {
                $limit = '';
            }

            $order = '';
            if (!empty($limit)) {

                $order = ' ORDER BY ';

                if (array_key_exists('order',$argv['pagination']) && $argv['pagination']['order'] !== null) {
                    if (is_array($argv['pagination']['order'])) {
                        foreach ($argv['pagination']['order'] as $item => $sort) {
                            $order .= "$item $sort";
                        }
                    } else {
                        $order .= $argv['pagination']['order'];
                    }
                } else {
                    $order .= '{{primarySort}} ASC';
                }
            }
            $limit = "$order $limit";
        } else {
            $limit = ' ORDER BY {{primarySort}} ASC LIMIT 100';
        }

        foreach($get as $key => $column){
            if (!empty($sql)) {
                $sql .= ', ';
                if (!empty($group)) {
                    $group .= ', ';
                }
            }
            $columnExists = array_key_exists($column, self::COLUMNS);
            if ($columnExists && self::COLUMNS[$column][0] === 'binary') {
                $sql .= "HEX($column) as $column";
                $group .= $column;
            } elseif ($columnExists) {
                $sql .= $column;
                $group .= $column;
            } else {
                if (!preg_match('#(((((hex|argv|count|sum|min|max) *\(+ *)+)|(distinct|\*|\+|\-|\/| {{#explode}}|{{name}}{{/explode}}))+\)*)+ *(as [a-z]+)?#i', $column)) {
                    /** @noinspection PhpUndefinedClassInspection */
                    throw new InvalidArgumentException('Arguments passed in SELECT failed the REGEX test!');
                }
                $sql .= $column;
                $aggregate = true;
            }
        }

        $sql = 'SELECT ' .  $sql . ' FROM {{^carbon_namespace}}{{database}}.{{/carbon_namespace}}{{TableName}}';

        if (null === $primary) {
            /** @noinspection NestedPositiveIfStatementsInspection */
            if (!empty($where)) {
                $sql .= ' WHERE ' . self::buildWhere($where, $pdo);
            }
        } {{#primary}}{{#sql}}else {
        {{{sql}}}
        }{{/sql}}{{/primary}}

        if ($aggregate  && !empty($group)) {
            $sql .= ' GROUP BY ' . $group . ' ';
        }

        $sql .= $limit;

        {{#json}}self::jsonSQLReporting(\func_get_args(), $sql);{{/json}}

        $stmt = $pdo->prepare($sql);

        if (!self::bind($stmt, $argv['where'] ?? [])) {
            return false;
        }

        $return = $stmt->fetchAll(\PDO::FETCH_ASSOC);

        /**
        *   The next part is so every response from the rest api
        *   formats to a set of rows. Even if only one row is returned.
        *   You must set the third parameter to true, otherwise '0' is
        *   apparently in the self::COLUMNS
        */

        {{#primary}}{{#sql}}
        if ($primary !== null || (isset($argv['pagination']['limit']) && $argv['pagination']['limit'] === 1 && \count($return) === 1)) {
            $return = isset($return[0]) && \is_array($return[0]) ? $return[0] : $return;
            // promise this is needed and will still return the desired array except for a single record will not be an array
        {{#explode}}{{#json}}if (array_key_exists('{{name}}', $return)) {
                $return['{{name}}'] = json_decode($return['{{name}}'], true);
            }
        {{/json}}{{/explode}}
        }{{/sql}}{{/primary}}

        return true;
    }

    /**
    * @param array $argv
    * @return bool|mixed
    */
    public static function Post(array $argv)
    {
        self::$injection = [];
        /** @noinspection SqlResolve */
        $sql = 'INSERT INTO {{^carbon_namespace}}{{database}}.{{/carbon_namespace}}{{TableName}} ({{listed}}) VALUES ({{{implode}}})';

        {{#json}}self::jsonSQLReporting(\func_get_args(), $sql);{{/json}}

        $stmt = self::database()->prepare($sql);

    {{#explode}}
        {{#primary_binary}}
            {{^carbon_table}}
                ${{name}} = $id = $argv['{{name}}'] ?? self::fetchColumn('SELECT (REPLACE(UUID() COLLATE utf8_unicode_ci,"-",""))')[0];
                $stmt->bindParam(':{{name}}',${{name}}, {{type}}, {{length}});
            {{/carbon_table}}
            {{#carbon_table}}
                ${{name}} = $id = $argv['{{name}}'] ?? self::beginTransaction('{{TableName}}');
                $stmt->bindParam(':{{name}}',${{name}}, {{type}}, {{length}});
            {{/carbon_table}}
        {{/primary_binary}}
        {{^primary_binary}}
            {{^skip}}
                {{^length}}$stmt->bindValue(':{{name}}',{{#json}}json_encode($argv['{{name}}']){{/json}}{{^json}}{{^default}}$argv['{{name}}']{{/default}}{{#default}}array_key_exists('{{name}}',$argv) ? $argv['{{name}}'] : {{default}}{{/default}}{{/json}}, {{type}});{{/length}}
                {{#length}}
                    ${{name}} = {{^default}}$argv['{{name}}']{{/default}}{{#default}} $argv['{{name}}'] ?? {{{default}}}{{/default}};
                    $stmt->bindParam(':{{name}}',${{name}}, {{type}}, {{length}});
                {{/length}}
            {{/skip}}
        {{/primary_binary}}{{/explode}}


    {{#binary_primary}}
        return $stmt->execute() ? $id : false;{{/binary_primary}}
    {{^binary_primary}}
        {{^carbon_table}}
            return $stmt->execute();{{/carbon_table}}{{/binary_primary}}
    }

    /**
    * @param array $return
    * @param string $primary
    * @param array $argv
    * @return bool
    */
    public static function Put(array &$return, string $primary, array $argv) : bool
    {
        self::$injection = [];
        if (empty($primary)) {
            return false;
        }

        foreach ($argv as $key => $value) {
            if (!\array_key_exists($key, self::COLUMNS)){
                throw new PublicAlert('The key {' . $key . '} does not exist.');
                #unset($argv[$key]);
            }
        }

        $sql = 'UPDATE {{^carbon_namespace}}{{database}}.{{/carbon_namespace}}{{TableName}} ';

        $sql .= ' SET ';        // my editor yells at me if I don't separate this from the above stmt

        $set = '';

        {{#explode}}
            if (array_key_exists('{{name}}', $argv)) {
                $set .= '{{name}}={{#binary}}UNHEX(:{{name}}){{/binary}}{{^binary}}:{{name}}{{/binary}},';
            }
        {{/explode}}

        if (empty($set)){
            return false;
        }

        $sql .= substr($set, 0, -1);

        $pdo = self::database();

        {{#primary}}{{{sql}}}{{/primary}}

        {{#json}}self::jsonSQLReporting(\func_get_args(), $sql);{{/json}}

        $stmt = $pdo->prepare($sql);

        if (!self::bind($stmt, $argv)){
            return false;
        }

        $return = array_merge($return, $argv);

        return true;

    }

    /**
    * @param array $remove
    * @param string|null $primary
    * @param array $argv
    * @return bool
    */
    public static function Delete(array &$remove, string $primary = null, array $argv) : bool
    {
    {{#carbon_table}}
        return carbon::Delete($remove, $primary, $argv);
    {{/carbon_table}}
    {{^carbon_table}}
        self::$injection = [];
        /** @noinspection SqlResolve */
        $sql = 'DELETE FROM {{^carbon_namespace}}{{database}}.{{/carbon_namespace}}{{TableName}} ';

        $pdo = self::database();

        if (null === $primary) {
        /**
        *   While useful, we've decided to disallow full
        *   table deletions through the rest api. For the
        *   n00bs and future self, "I got chu."
        */
        if (empty($argv)) {
            return false;
        }


        $sql .= ' WHERE ' . self::buildWhere($argv, $pdo);
        } {{#primary}}{{#sql}}else {
        {{{sql}}}
        }{{/sql}}{{/primary}}

        {{#json}}self::jsonSQLReporting(\func_get_args(), $sql);{{/json}}

        $stmt = $pdo->prepare($sql);

        $r = self::bind($stmt, $argv);

        /** @noinspection CallableParameterUseCaseInTypeContextInspection */
        $r and $remove = null;

        return $r;
    {{/carbon_table}}
    }
}