<?php
{{^carbon_namespace}}namespace Table;{{/carbon_namespace}}
{{#carbon_namespace}}namespace CarbonPHP\Table;{{/carbon_namespace}}

use CarbonPHP\Database;
use CarbonPHP\Entities;
use CarbonPHP\Interfaces\iRest;

class {{TableName}} extends Entities implements iRest
{
    const PRIMARY = [
    {{#primary}}{{#name}}'{{name}}',{{/name}}{{/primary}}
    ];

    const COLUMNS = [
    {{#explode}}'{{name}}',{{/explode}}
    ];

    {{^validation}}const VALIDATION = [];{{/validation}}{{#validation}}{{{validation}}}{{/validation}}

    const BINARY = [
    {{#binary_list}}'{{name}}',{{/binary_list}}
    ];

    /**
     * @param array $return
     * @param string|null $primary
     * @param array $argv
     * @return bool
     */
    public static function Get(array &$return, string $primary = null, array $argv) : bool
    {
        $get = isset($argv['select']) ? $argv['select'] : self::COLUMNS;
        $where = isset($argv['where']) ? $argv['where'] : [];

        $group = $sql = '';

        if (isset($argv['pagination'])) {
            if (!empty($argv['pagination']) && !is_array($argv['pagination'])) {
                $argv['pagination'] = json_decode($argv['pagination'], true);
            }
            if (isset($argv['pagination']['limit']) && $argv['pagination']['limit'] != null) {
                $limit = ' LIMIT ' . $argv['pagination']['limit'];
            } else {
                $limit = '';
            }

            if (!empty($limit)) {

                $limit .= ' ORDER BY ';

                if (isset($argv['order']) && $argv['order'] != null) {
                    if (is_array($argv['order'])) {
                        foreach ($argv['order'] as $item => $sort) {
                            $limit .= $item .' '. $sort;
                        }
                    } else {
                        $limit .= self::PRIMARY[0] . ' DESC';
                    }
                }
            }

        } else {
            $limit = ' LIMIT 100';
        }

        foreach($get as $key => $column){
            if (!empty($sql)) {
                $sql .= ', ';
                $group .= ', ';
            }
            if (in_array($column, self::BINARY)) {
                $sql .= "HEX($column) as $column";
                $group .= "$column";
            } else {
                $sql .= $column;
                $group .= $column;
            }
        }

        if (isset($argv['aggregate']) && (is_array($argv['aggregate']) || $argv['aggregate'] = json_decode($argv['aggregate'], true))) {
            foreach($argv['aggregate'] as $key => $value){
                switch ($key){
                    case 'count':
                        if (!empty($sql)) {
                            $sql .= ', ';
                        }
                        $sql .= "COUNT($value) AS count ";
                        break;
                    case 'AVG':
                        if (!empty($sql)) {
                            $sql .= ', ';
                        }
                        $sql .= "AVG($value) AS avg ";
                        break;
                    case 'MIN':
                        if (!empty($sql)) {
                            $sql .= ', ';
                        }
                        $sql .= "MIN($value) AS min ";
                        break;
                    case 'MAX':
                        if (!empty($sql)) {
                            $sql .= ', ';
                        }
                        $sql .= "MAX($value) AS max ";
                        break;
                }
            }
        }

        $sql = 'SELECT ' .  $sql . ' FROM {{database}}.{{TableName}}';

        $pdo = Database::database();

        if (empty($primary)) {
            if (!empty($where)) {
                $build_where = function (array $set, $join = 'AND') use (&$pdo, &$build_where) {
                    $sql = '(';
                    foreach ($set as $column => $value) {
                        if (is_array($value)) {
                            $sql .= $build_where($value, $join === 'AND' ? 'OR' : 'AND');
                        } else {
                            if (in_array($column, self::BINARY)) {
                                $sql .= "($column = UNHEX(" . $pdo->quote($value) . ")) $join ";
                            } else {
                                $sql .= "($column = " . $pdo->quote($value) . ") $join ";
                            }
                        }
                    }
                    return substr($sql, 0, strlen($sql) - (strlen($join) + 1)) . ')';
                };
                $sql .= ' WHERE ' . $build_where($where);
            }
        } {{#primary}}{{#sql}}else {
            $primary = $pdo->quote($primary);
            {{{sql}}}
        }{{/sql}}{{/primary}}

        if (isset($argv['aggregate'])) {
            $sql .= ' GROUP BY ' . $group . ' ';
        }

        $sql .= $limit;

        $return = self::fetch($sql);

        global $json;

        if (!isset($json['sql'])) {
            $json['sql'] = [];
        }
        $json['sql'][] = $sql;

        /**
        *   The next part is so every response from the rest api
        *   formats to a set of rows. Even if only one row is returned.
        *   You must set the third parameter to true, otherwise '0' is
        *   apparently in the self::COLUMNS
        */

        {{#primary}}{{#sql}}
        if (empty($primary) && $argv['pagination']['limit'] !== 0 && count($return) && in_array(array_keys($return)[0], self::COLUMNS, true)) {  // You must set tr
            $return = [$return];
        }{{/sql}}{{/primary}}

        return true;
    }

    /**
    * @param array $argv
    * @return bool|mixed
    */
    public static function Post(array $argv)
    {
        $sql = 'INSERT INTO {{database}}.{{TableName}} ({{listed}}) VALUES ({{{implode}}})';
        $stmt = Database::database()->prepare($sql);

        global $json;

        if (!isset($json['sql'])) {
            $json['sql'] = [];
        }
        $json['sql'][] = $sql;

{{#explode}}
    {{#primary_binary}}
        {{^carbon_table}}
            ${{name}} = $id = isset($argv['{{name}}']) ? $argv['{{name}}'] : self::fetchColumn('SELECT (REPLACE(UUID() COLLATE utf8_unicode_ci,"-",""))')[0];
            $stmt->bindParam(':{{name}}',${{name}}, {{type}}, {{length}});
        {{/carbon_table}}
        {{#carbon_table}}
            ${{name}} = $id = isset($argv['{{name}}']) ? $argv['{{name}}'] : self::new_entity('{{TableName}}');
            $stmt->bindParam(':{{name}}',${{name}}, {{type}}, {{length}});
        {{/carbon_table}}
    {{/primary_binary}}
    {{^primary_binary}}
    {{^skip}}
            {{^length}}$stmt->bindValue(':{{name}}',{{^default}}$argv['{{name}}']{{/default}}{{#default}}isset($argv['{{name}}']) ? $argv['{{name}}'] : {{default}}{{/default}}, {{type}});{{/length}}
            {{#length}}
                ${{name}} = {{^default}}$argv['{{name}}']{{/default}}{{#default}}isset($argv['{{name}}']) ? $argv['{{name}}'] : {{{default}}}{{/default}};
                $stmt->bindParam(':{{name}}',${{name}}, {{type}}, {{length}});
            {{/length}}
            {{/skip}}
        {{/primary_binary}}{{/explode}}
{{#binary_primary}}
        return $stmt->execute() ? $id : false;{{/binary_primary}}
{{^binary_primary}}
    {{^carbon_table}}
        return $stmt->execute();{{/carbon_table}}{{/binary_primary}}
    }

    /**
    * @param array $return
    * @param string $primary
    * @param array $argv
    * @return bool
    */
    public static function Put(array &$return, string $primary, array $argv) : bool
    {
        foreach ($argv as $key => $value) {
            if (!in_array($key, self::COLUMNS)){
                unset($argv[$key]);
            }
        }

        $sql = 'UPDATE {{database}}.{{TableName}} ';

        $sql .= ' SET ';        // my editor yells at me if I don't separate this from the above stmt

        $set = '';

        {{#explode}}
        if (isset($argv['{{name}}'])) {
            $set .= '{{name}}={{#binary}}UNHEX(:{{name}}){{/binary}}{{^binary}}:{{name}}{{/binary}},';
        }
        {{/explode}}

        if (empty($set)){
            return false;
        }

        $sql .= substr($set, 0, strlen($set)-1);

        $db = Database::database();

        {{#primary}}{{#sql}}
        $primary = $db->quote($primary);
        {{{sql}}}{{/sql}}{{/primary}}

        $stmt = $db->prepare($sql);

        global $json;

        if (!isset($json['sql'])) {
            $json['sql'] = [];
        }
        $json['sql'][] = $sql;


    {{#explode}}
        if (isset($argv['{{name}}'])) {
    {{^length}}
            $stmt->bindValue(':{{name}}',$argv['{{name}}'], {{type}});
    {{/length}}
    {{#length}}
        {{#binary}}
            ${{name}} = 'UNHEX('.$argv['{{name}}'].')';
            $stmt->bindParam(':{{name}}', ${{name}}, {{type}}, {{length}});
        {{/binary}}
        {{^binary}}
            ${{name}} = $argv['{{name}}'];
            $stmt->bindParam(':{{name}}',${{name}}, {{type}}, {{length}});
        {{/binary}}
    {{/length}}
        }
    {{/explode}}

        if (!$stmt->execute()){
            return false;
        }

        $return = array_merge($return, $argv);

        return true;

    }

    /**
    * @param array $remove
    * @param string|null $primary
    * @param array $argv
    * @return bool
    */
    public static function Delete(array &$remove, string $primary = null, array $argv) : bool
    {
{{#carbon_table}}
        return \Table\carbon::Delete($remove, $primary, $argv);
{{/carbon_table}}
{{^carbon_table}}
        $sql = 'DELETE FROM {{database}}.{{TableName}} ';

        foreach($argv as $column => $constraint){
            if (!in_array($column, self::COLUMNS)){
                unset($argv[$column]);
            }
        }

        if (empty($primary)) {
            /**
            *   While useful, we've decided to disallow full
            *   table deletions through the rest api. For the
            *   n00bs and future self, "I got chu."
            */
            if (empty($argv)) {
                return false;
            }
            $sql .= ' WHERE ';
            foreach ($argv as $column => $value) {
                if (in_array($column, self::BINARY)) {
                    $sql .= " $column =UNHEX(" . Database::database()->quote($value) . ') AND ';
                } else {
                    $sql .= " $column =" . Database::database()->quote($value) . ' AND ';
                }
            }
            $sql = substr($sql, 0, strlen($sql)-4);
        } {{#primary}}{{#sql}}else {
            $primary = Database::database()->quote($primary);
            {{{sql}}}
        }{{/sql}}{{/primary}}

        $remove = null;

        global $json;

        if (!isset($json['sql'])) {
            $json['sql'] = [];
        }
        $json['sql'][] = $sql;

        return self::execute($sql);
{{/carbon_table}}
    }
}