<div class="row" style="margin-top: 20px">
    <div class="box box-solid box-default">
        <div class="box-header with-border">
            <h2 style="margin:0;">
                We Strictly Follow Our Structures
            </h2>
        </div>
        <div class="box-body">
            <h1>#C6</h1>
            <p class="lead">
                If user input is taken it must be validated to protect against cross site scripting attacks.
                The guys over at <a href="https://www.owasp.org/index.php/Main_Page">OWASP</a> do a good job
                explaining the complexity of protecting yourself against a XSS attack. Simply put, if the user
                is capable of modifying the information, a variable, we need in a routine it must be validated.
                <a href="<?=SITE?>">The MVC pattern</a> is simplistic and powerful so we choose this as our architecture.
            </p>
            <h3>Stick to the architecture!</h3>

            <img class="img-responsive" src="<?=SITE.APP_VIEW?>Img/documentation/mvc-sequence.png">
            <p class="lead">The sequence diagram above shows how data moves through our environment. In our
            <a href="<?=SITE?>Options">bootstrap,</a> or url mapping file, we phase any url parameters and send them to the Controller. This
            is not the only data that must be validated. All form data is received in the
                <code>$_POST[], $_GET[], $_FILES[], $_COOKIE[], ect.. </code> super globals predefined by PHP must also be validated.</p>
        </div>
    </div>
</div>