<?php

namespace Table;

use CarbonPHP\Database;
use CarbonPHP\Entities;
use CarbonPHP\Error\PublicAlert;
use CarbonPHP\Interfaces\iRest;

class {{TableName}} extends Entities implements iRest
{
    const COLUMNS = [
           {{#explode}}
            '{{name}}',
        {{/explode}}
    ];

    const PRIMARY = "{{primary}}";

    /**
     * @param array $return
     * @param string|null $primary
     * @param array $argv
     * @return bool
     */
    public static function Get(array &$return, string $primary = null, array $argv) : bool
    {
        if (isset($argv['limit'])){
            if ($argv['limit'] !== '') {
                $pos = strrpos($argv['limit'], "><");
                if ($pos !== false) { // note: three equal signs
                    substr_replace($argv['limit'],',',$pos, 2);
                }
                $limit = ' LIMIT ' . $argv['limit'];
            } else {
                $limit = '';
            }
        } else {
            $limit = ' LIMIT 100';
        }

        $get = $where = [];
        foreach ($argv as $column => $value) {
            if (in_array($column, self::COLUMNS)) {
                if ($value !== '') {
                    $where[$column] = $value;
                } else {
                    $get[] = $column;
                }
            } elseif (in_array($value)) {
                $get[] = $value;
            }
        }

        $get =  !empty($get) ? implode(", ", $get) : ' * ';

        $sql = 'SELECT ' .  $get . ' FROM {{database}}.{{TableName}}';

        if ($primary === null) {
            $sql .= ' WHERE ';
            foreach ($where as $column => $value) {
                $sql .= "($column = '$value') AND ";
            }
            $sql = substr($sql, 0, strlen($sql)-4);
        } else if (!empty(self::PRIMARY)){
            $sql .= ' WHERE ' . self::PRIMARY . "= '$primary'";
        }

        $sql .= $limit;

        $return = self::fetch($sql);

        return true;
    }

    /**
    * @param array $argv
    * @return bool|mixed
    */
    public static function Post(array $argv)
    {
        $sql = 'INSERT INTO {{database}}.{{TableName}} ({{listed}}) VALUES ({{implode}})';
        $stmt = Database::database()->prepare($sql);
        {{#explode}}
            $stmt->bindValue(':{{name}}', isset($argv['{{name}}']) ? $argv['{{name}}'] : null, \{{type}});
        {{/explode}}
        return $stmt->execute();
    }

    /**
    * @param array $return
    * @param string $id
    * @param array $argv
    * @return bool
    */
    public static function Put(array &$return, string $id, array $argv) : bool
    {
        foreach ($argv as $key => $value) {
            if (!in_array($key, self::COLUMNS)){
                unset($argv[$key]);
            }
        }

        $sql = 'UPDATE {{database}}.{{TableName}} ';

        $sql .= ' SET ';        // my editor yells at me if I don't separate this from the above stmt

        {{#explode}}
            if (isset($argv['{{name}}'])) {
            $sql .= '`{{name}}` = `:{{name}}`,';
            }

        {{/explode}}

        $sql .= ' WHERE `' . self::PRIMARY . "`  = $id";

        $stmt = Database::database()->prepare($sql);

        {{#explode}}
            if (isset($argv['{{name}}'])) {
                $stmt->bindValue(':{{name}}', isset($argv['{{name}}']) ? $argv['{{name}}'] : null, \{{type}});
            }
        {{/explode}}


        if (!$stmt->execute()){
            return false;
        }

        $return = array_merge_recursive($return, $argv);

        return true;

    }

    /**
    * @param array $return
    * @param string|null $primary
    * @param array $argv
    * @return bool
    */
    public static function Delete(array &$return, string $primary = null, array $argv) : bool
    {
        $get = array_intersect(array_keys($argv), self::COLUMNS);

        $where = array_intersect($get, array_merge_recursive(array_fill_keys($get, ''), $argv));

        $sql = 'DELETE * FROM {{database}}.{{TableName}} ';

        $sql .= ' WHERE ';  // my editor yells at me if I don't separate this from the above stmt

        foreach ($where as $column => $value) {
        $sql .= "$column = $value";
        }

        return Database::execute($sql);
    }

}